

body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 20px;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
}

#chat-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400%;
    display: flex;
    flex-direction: column;
    height: 90vh; /* Ajuster la hauteur si nécessaire */
    margin-right: 10px; /* Espace entre le bord de l'écran et le conteneur de chat */

}
#chat-header {
    background-color: #007bff;
    color: #ffffff;
    padding: 15px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: center;
}
#chat-messages {
    padding: 20px;
    flex: 1;
    overflow-y: auto;
    border-bottom: 1px solid #f0f2f5;
}
.message {
    margin-bottom: 15px;
}
.message.user .message-content {
    background-color: #007bff;
    color: #ffffff;
    justify-content: flex-end;

}
.message.bot .message-content {
    background-color: #f1f0f0;
    color: #333333;
    justify-content: flex-start;

}
.message-content {
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 80%;
    word-wrap: break-word;
    display: inline-block;
}
#chat-input {
    display: flex;
    padding: 15px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
#question {
    flex: 1;
    padding: 10px;
    border: 1px solid #f0f2f5;
    border-radius: 20px;
    margin-right: 10px;
}
#send-button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    background-image: url('https://i.ibb.co/JB68Q25/friends-link-send-share-icon-123609.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center right 10px;
    padding-right: 35px; /* Ajouter un espace pour l'image */
}
#send-button:hover {
    background-color: #0056b3;
}
#map-container {
    position: relative;
    width: 1100px; /* Ajustez selon la taille de votre image */
    height: 700px; /* Ajustez selon la taille de votre image */
}
#map {
    width: 1100px;
    height: 700px;
}
#device-marker {
    position: absolute;
    width: 40px; /* Ajustez selon la taille de votre flèche */
    height: 40px; /* Ajustez selon la taille de votre flèche */
    background: url('https://i.ibb.co/RHPgNbd/logo-icone.png') no-repeat center center;
    background-size: contain;
    transform: rotate(0deg); /* Ajustez l'orientation initiale de la flèche si nécessaire */
}
